<%# app/views/kanban/index.html.erb %>
<% content_for :header_tags do %>
  <script src="/plugin_assets/redmine_release_kanban/kanban_bundle.js"></script>
  <link rel="stylesheet" href="/plugin_assets/redmine_release_kanban/kanban.css" media="screen" />
<% end %>

<div class="contextual">
  <%= link_to '設定', '#', class: 'icon icon-settings', title: 'カンバン設定' %>
</div>

<h2>Release Kanban - <%= @project.name %></h2>

<div id="kanban-root"
     data-project-id="<%= @project.id %>"
     data-current-user='<%= User.current.to_json.html_safe %>'
     data-api-base-url="<%= project_path(@project) %>/kanban">
  <!-- React Kanban アプリがここにマウントされます -->
  <div class="loading-spinner">
    <p>カンバンを読み込み中...</p>
  </div>
</div>