<!-- plugins/redmine_react_gantt_chart/app/views/react_gantt_chart/index.html.erb -->
<%
  # 現在のユーザーの権限を確認
  can_edit_issues = User.current.allowed_to?(:edit_issues, @project)
  can_add_issues = User.current.allowed_to?(:add_issues, @project)
  can_delete_issues = User.current.allowed_to?(:delete_issues, @project)
%>

<div id="react-gantt-chart-app" 
     data-project-id="<%= @project.id %>"
     data-can-edit="<%= can_edit_issues %>"
     data-can-add="<%= can_add_issues %>"
     data-can-delete="<%= can_delete_issues %>"
     data-readonly="<%= !can_edit_issues %>">
</div>

<script>
  // グローバル変数として権限情報を設定
  window.ganttPermissions = {
    canEdit: <%= can_edit_issues.to_json %>,
    canAdd: <%= can_add_issues.to_json %>,
    canDelete: <%= can_delete_issues.to_json %>,
    readonly: <%= (!can_edit_issues).to_json %>
  };
</script>

<%
  # 本番環境では assets/build から、開発環境では dist から読み込み
  bundle_path = if Rails.env.production?
    "/plugin_assets/redmine_react_gantt_chart/bundle.js"
  else
    "/plugin_assets/redmine_react_gantt_chart/bundle.js"
  end
%>
<script src="<%= bundle_path %>"></script>